/*playground*/

/*
mobile - 320 - 480px
ipad/tablets -> 481 -768px
small screen/laptops : 769px - 1024px
large screen/desktops : 1025 - 1200px
xxl tV/Extra screen : 1201px - 99999999px
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  background-color: #f5f5f5;
}
p {
  color: #333;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/*nav*/
nav {
  width: 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav img {
  width: 150px;
  padding: 5px;
  margin-left: 5px;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 5px;
}
nav ul li {
  padding: 5px;
}
nav ul li a {
  text-decoration: none;
}
.create-post {
  background-color: #ff5a5f;
  color: #fff;
  border: none;
  padding: 10px 4px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}
header {
  display: flex;
  min-height: 80vh;
  background: url(/images/wallpaperflare-cropped.jpg);
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
}

.headercontent {
  text-align: center;
  padding: 10px;
}

.headercontent h1 {
  font-size: 5rem;
  padding: 10px;
  margin-top: 20px;
  color: #14213d;
}

.headercontent a {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  padding: 10px 20px;
  padding-top: 2px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 5px 4px #888888;
  text-decoration: none;
}

.headercontent p {
  margin: 10px;
}
.container-flex {
  display: flex;
  max-width: 1900px;
  flex-direction: column;
}
/*MOBILE FIRST RESPONSIVE DESIGN*/

@media (min-width: 675px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  nav ul li {
    padding: 10px;
  }
}
